[user]
	email = dtcrsby@gmail.com
	name = Dafydd Crosby
[color]
	ui = auto
[core]
	editor = vim
	pager = less -rX
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = dtcrsby@gmail.com
[merge]
        tool = meld
[alias]
	amend = commit --amend
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
[push]
	default = matching
