[user]
	email = dave@dafyddcrosby.com
	name = David Crosby
[color]
	ui = auto
[core]
	editor = vim
	pager = less -rX
	excludesfile = ~/.gitignore_global
	whitespace = space-before-tab,-indent-with-non-tab,trailing-space
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = dtcrsby@gmail.com
[merge]
        tool = vimdiff
[alias]
	aa = annex add
	amend = commit --amend
	addnows = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
	br = branch
	brr = branch -r
	co = checkout
	cob = checkout -b
	cobm = !sh -c 'git checkout "$1" main' -
	cobmaster = !sh -c 'git checkout "$1" master' -
	com = checkout main
	comaster = checkout master
	contributors = shortlog --summary --numbered
	ctags = !.git/hooks/ctags
	df = diff
	dfn = diff --name-only
	grepfiles = grep -l
	grepi = grep -i
	grepn = grep -n
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	ls = ls-files
	mrb = for-each-ref --count=50 --sort=-committerdate refs/heads/ --format='%(refname:short)'
	pnotes = grep -n --break --heading --color=auto -e BUG -e TODO -e FIXME -e XXX
	por = push origin
	pum = pull upstream main
	pumaster = pull upstream master
	remotes = remote -v
	st = status -s -b
	stat = status -s -b
	status = status -s -b
	this = !git init && git add . && git commit -m \"initial commit\"
	undo = reset --soft HEAD~
	who = !git shortlog -s -- | sort -n -r
[remote]
	pushdefault = origin
[push]
	default = current
[github]
	user = dafyddcrosby
[diff]
	algorithm = patience
[init]
	templatedir = ~/.git_template
	defaultBranch = main
[transfer]
        fsckobjects = true
[fetch]
        fsckobjects = true
[receive]
        fsckObjects = true	
