[user]
	email = dtcrsby@gmail.com
	name = Dafydd Crosby
[color]
	ui = auto
[core]
	editor = vim
	pager = less -rX
[sendemail]
	smtpserver = smtp.gmail.com
	smtpserverport = 587
	smtpencryption = tls
	smtpuser = dtcrsby@gmail.com
